.img
{
    opacity: 0;
    pointer-events: none;
}

.pointer-none{
    pointer-events: none;
}

.text-indent
{
  width: 22vw;
}

body{
  background: #DC0000;
  overflow: hidden;
}

.home-content,
.home-content-child{
  z-index: 3000;
  mix-blend-mode: difference;
  color: white;
}

.project-link-parent
{
  mix-blend-mode: normal;
  color: white;
}







.navbar-form-wrapper {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
  }
  
  .navbar-form-wrapper::-webkit-scrollbar {
    display: none;
  }

.navbar-form-wrapper
{
    display: none;
}
.navbar-form-wrapper.is-open 
{
    display: flex; 
}


.w-checkbox-input.w--redirected-checked {
    background-image: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }
  

  .w-checkbox-input {
    background-image: none !important;
    box-shadow: none !important;
  }

  ::selection {
    background: #d60000;
  }

  [data-a="wrapper"] {
    overflow: hidden;
    will-change: clip-path, opacity;
    background-color: white;
  }

  [data-a="box-right"]
  {
    opacity: 0;
  }

  [data-a="box-left"]
  {
    opacity: 0;
  }

  [data-a="content"]
  {

    opacity: 0;

  }

  .navbar-o-w.open
  {
    display: block;
  }

  .parent-mask
  {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    opacity: 0;
  }

  .load-wrapper.hide
  {
    display: none;
  }


  .nv-line-wrap
  {
    opacity: 0;
    transform: scaleX(0);
    will-change: auto;
  }

  [data-a="title"],
  [data-a="body"],
  [data-a="logo"] {
    opacity: 0;
  }

  .project-line {
    opacity: 0;
  }
