.img
{
    opacity: 0;
    pointer-events: none;
}

.pointer-none{
    pointer-events: none;
}


.navbar-form-wrapper {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
  }
  
  .navbar-form-wrapper::-webkit-scrollbar {
    display: none;
  }

.navbar-form-wrapper
{
    display: none;
}
.navbar-form-wrapper.is-open 
{
    display: flex; 
}