.img
{
    opacity: 0;
    pointer-events: none;
}

.pointer-none{
    pointer-events: none;
}

.text-indent
{
  width: 22vw;
}


.navbar-form-wrapper {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
  }
  
  .navbar-form-wrapper::-webkit-scrollbar {
    display: none;
  }

.navbar-form-wrapper
{
    display: none;
}
.navbar-form-wrapper.is-open 
{
    display: flex; 
}


.w-checkbox-input.w--redirected-checked {
    background-image: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }
  

  .w-checkbox-input {
    background-image: none !important;
    box-shadow: none !important;
  }

  ::selection {
    background: #d60000;
  }

  [data-a="wrapper"] {
    overflow: hidden;
    will-change: clip-path, opacity;
    background-color: white;
  }

  [data-a="box-right"]
  {
    opacity: 0;
  }

  [data-a="box-left"]
  {
    opacity: 0;
  }